{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row justify-content-center page-section">
        <p class="col-auto rounded-3 fs-3 text-rooibos bg-caramel fw-bolder"> Vos aliments substituts sauvegardés </p>
    </div>

    <div class="page-section row">
        {% for bookmark in bookmarks_list %}
            <div class="col-xl-4">
                <div class="position-relative">
                    <a href="{% url 'research:food-page' pk=bookmark.barcode %}" title="Voir le détail de l'aliment"><img class="mb-2" src="{{ bookmark.image_url }}"></a>
                    <img class="align-top" height="75px" src="{% static 'dist/assets/img/Nutriscore_' %}{{ bookmark.nutri_score }}.png">
                </div>
                <p class="fw-bold">{{ bookmark.name }}</p>
            </div>
        {% empty %}
           <p> Vous n'avez aucun aliment substitut sauvegardé...</p>
        {% endfor %}
    </div>
{% endblock content %}