{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="nomast">
    <div class="container px-4 px-lg-5 h-100">
        <div class="rounded-pill row flex-column justify-content-around align-items-center">
            <h1 class="rounded-pill col-auto text-white bg-biscuit-semi-tr font-weight-bold text-center">Vos aliments substituts sauvegardés</h1>
        </div>
        <hr class="divider">
        <div class="row justify-content-around align-items-center">
            {% for bookmark in bookmarks_list %}
            <div class="col-xl-4 text-center">
                <div class="mb-2">
                    <a href="{% url 'research:food-page' pk=bookmark.barcode %}" title="Voir le détail de l'aliment" class="text-decoration-none">
                        <img class="w-50 img-thumbnail" src="{{ bookmark.image_url }}" alt="food">
                    </a>
                    <img class="align-top" height="75" src="{% static 'dist/assets/img/Nutriscore_'|add:bookmark.nutri_score|add:'.png' %}" alt="nutriscore">
                </div>
                <p class="mb-0 text-moules fw-bold">{{ bookmark.name }}</p>
            </div>
            {% empty %}
           <p> Vous n'avez aucun aliment substitut sauvegardé...</p>
            {% endfor %}
        </div>
    </div>
</header>
{% endblock header %}