//
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

body {
    width: 100%;
    height: 100%;
}

//- Page section styling
.page-section {
    padding: 8rem 0;
}

// Custom utilities for this theme
.text-white-75 {
    color: fade-out($white, 0.25) !important;
}


 // From here : my personalized styles

body {
    font-family: $font-family-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-titles;
}

#header-search-button {
    display: none;
}

@media (min-width: 360px) and (max-width: 990px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.bg-food {
    background-position: center;
    background-size: contain;
}

.bg-user {
    background: linear-gradient(to bottom,
        #{fade-out($brown, 0.2)} 0%,
        #{fade-out($brown, 0.2)} 100%),
    url("../assets/img/Home_bg.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-rooibos {
    background-color: $rooibos;
}
.text-rooibos {
    color: $rooibos;
}

.bg-moules {
    background-color: $moules;
}
.text-moules {
    color: $moules;
}

.bg-rigolo {
    background-color: $rigolo;
}
.bg-rigolo-fd3 {
    background-color: fade-out($rigolo, 0.3);
    border-radius: 0.5rem;
}
.text-rigolo {
    color: $rigolo;
}

.bg-caramel {
    background-color: $caramel;
}
.text-caramel {
    color: $caramel;
}

.bg-biscuit {
    background-color: $biscuit;
}
.bg-biscuit-semi-tr {
    background-color: $biscuit-semi-transp;
}
.text-biscuit {
    color: $biscuit;
}

// Error message displayed by Django creation and login form
.errorlist {
    color: var(--bs-red);
}
