//
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

//- Page section styling
.page-section {
    padding: 2rem 0;
    border-top: 1px solid $rooibos;
    text-align: center;
}

// Custom utilities for this theme
.text-white-75 {
    color: fade-out($white, 0.25) !important;
}

 // From here : my personalized styles

body {
    font-family: $font-family-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-titles;
}

footer {
    border-top: 1px solid $rooibos;
}

#header-search-button {
    display: none;
}

#home-photo {
    background-image: url('../assets/img/Fond_écran_accueil.png/');
}

.bgd-photo {
    background-position: center;
    background-size: contain;
    background-color: #fff;
}

.bg-rooibos {
    background-color: $rooibos;
}
.bg-moules {
    background-color: $moules;
}
.bg-rigolo {
    background-color: $rigolo;
}
.bg-caramel {
    background-color: $caramel;
}
.bg-biscuit {
    background-color: $biscuit;
}
.bg-biscuit-semi-tr {
    background-color: $biscuit-semi-transp;
}

.text-rooibos {
    color: $rooibos;
}
.text-moules {
    color: $moules;
}
.text-rigolo {
    color: $rigolo;
}
.text-caramel {
    color: $caramel;
}
.text-biscuit {
    color: $biscuit;
}

// Error message displayed by Django creation and login form
.errorlist {
    color: var(--bs-red);
}
