//
// Buttons
//

//- Custom XL button styling

.btn-xl {
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}
