#carrot-icon {
    background-image: url('../assets/img/icons/Menu_icon_carrot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    height: 1.5rem;
}

#purbeurre-logo {
    background-image: url('../assets/img/icons/logo_pur_beurre.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 1rem;
    height: 1.5rem;
}

.center-icon {
    text-align: center;
    padding: 0;
    min-width: 1.5rem;
    max-width: 1.5rem;
}

.size-rem-img {
    width: 3rem;
    height: auto;
    position: absolute;
}