#carrot-icon
{
    background-image: url('../assets/img/icons/Menu_icon_carrot.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#purbeurre-logo
{
    background-image: url('../assets/img/icons/logo_pur_beurre.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}