{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="nomast">
    <div class="container px-4 px-lg-5 h-100">
        <div class="rounded-pill row flex-column justify-content-around align-items-center bg-food" style="background-image: url('{{ food.image_url }}');">
            <h1 class="rounded-pill col-auto text-white bg-biscuit-semi-tr font-weight-bold text-center">{{ food.name }}</h1>
        </div>
        <hr class="divider">
        <div class="row justify-content-around align-items-center">
            <div class="col-6 text-center">
                <div class="mb-2">
                    <img class="w-50 img-thumbnail" src="{% static 'dist/assets/img/Whole_Nutriscore_'|add:food.nutri_score|add:'.png' %}" alt="nutriscore">
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="mb-2">
                    <img class="w-50 img-thumbnail" src="{{ food.nutriment_url }}" alt="nutriment">
                </div>
            </div>
        </div>
        <div class="row justify-content-around align-items-center">
            <a class="btn btn-primary btn-xl" href="{{food.off_url }}">Voir la fiche d'Open Food Facts</a>
        </div>
    </div>
</header>

{% endblock header %}