{% extends 'base.html' %}
{% load static %}
{% block header %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                <hr class="divider">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Trouvez un produit de substitution<br>pour ceux que vous consommez<br>tous les jours.</p>
                <form class="d-flex justify-content-center" method='GET' action="{% url 'research:form-page' %}">
                    {{ research_form }} <!-- A personalized context_processor is used to have the menu's research_form in every templates headers -->
                    <input id="submit_research" class="btn btn-primary btn-xl" type='submit' value="Chercher"/>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<!-- About -->
<section class="page-section bg-caramel" id="about">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Colette et Remy</h2>
        <h3 class="text-center mt-0">De la Ratatouille aux Croissants</h3>
        <hr class="divider">
        <div class="row justify-content-around align-items-center">
            <div class="col col-md-6 text-center">
                <div class="mb-2"><img class="img-thumbnail" src="../../static/dist/assets/img/Colette-photo.jpg" alt="colette"></div>
            </div>
            <div class="col col-md-6 text-center">
                <div class="mb-2"><img class="img-thumbnail" src="../../static/dist/assets/img/Remy-photo.jpg" alt="remy"></div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->
<section class="page-section bg-biscuit" id="contact">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Contactez nous !</h2>
        <hr class="divider">
        <div class="row justify-content-around align-items-center">
            <div class="col col-md-6 text-center">
                <div class="mb-2"><p>☎<br>05.xx.xx.xx.xx</p></div>
            </div>
            <div class="col col-md-6 text-center">
                <div class="mb-2"><p>📧<br>pur_beurre@gmail.com</p></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
