{% extends 'base.html' %}

{% block header %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Connexion à un compte Pur Beurre</h1>
                <hr class="divider">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <form class="text-white-75 justify-content-center" method="POST" action="{% url 'account:user-login' %}">
                    {% csrf_token %} <!-- Afficher le csrf_token ce qui permet de le générer et automatiquement inclus dans le formulaire -->

                    {{ form.as_p }}
                    <input class="btn btn-primary btn-xl" type='submit' value="Se connecter"/>
                    <input type="hidden" name="next" value="/"/>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock header %}