{% extends 'base.html' %}

{% block header %}
<header class="nomast">
    <div class="container px-4 px-lg-5">
        <div class="bg-user row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Hello<br>{{ user_name }} !</h1>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h2 class="mt-5 text-center text-moules mt-0">{{ user_mail }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock header %}