<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
        <title>
            {% block title %}
            P8
            {% endblock title %}
        </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/dist/assets/img/icons/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">

        {% block nav %}
        {% endblock nav %}
        <header>
            {% block header %}
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class='col-1' id="purbeurre-logo"></div>
                        <div class='col-5'>Pur Beurre</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class='col'>
                        <form method="GET" action="{% url 'research:form-page' %}"><!-- A personalized context_processor is used to have the menu's research_form in every templates headers -->
                                {{ research_form }}
                                <input type="submit" id="header-search-button"></input>
                        </form>
                        </div>
                        <div class='col bi bi-person-circle'></div>
                        <div class='col' id="carrot-icon"></div>
                        <div class="col bi bi-box-arrow-right"></div>
                    </div>
                </div>
            </div>
            {% endblock header %}
        </header>

        {% block content %}
        {% endblock content %}

        <footer>
            <div class="row"
            {% block footer %}
            {% endblock footer %}
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'dist/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </div>
</body>
</html>
