{% extends 'base.html' %}

{% block header %}
<!-- Masthead-->
<header class="nomast">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
            <div class="overflow-auto col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Mentions Légales</h1>
                <hr class="divider">
                <p class="fs-3 fw-bolder text-white-75 mb-5">Développeur</p>
                <p class="text-white-75 mb-5">Marie Ciret</p>
                <hr class="divider">
                <p class="fs-3 fw-bolder text-white-75 mb-5">Frameworks</p>
                <p class="text-white-75 mb-5">Django</p>
                <p class="text-white-75 mb-5">Bootstrap (thème "creative")</p>
                <hr class="divider">
                <p class="fs-3 fw-bolder text-white-75 mb-5">Icônes et photos</p>
                <p class="text-white-75 mb-5">Charte graphique : Pur Beurre</p>
                <p class="text-white-75 mb-5">Icône carotte : The Noun Project</p>
                <p class="text-white-75 mb-5">Photo de page d'accueil : Olenka Kotyk (unsplash.com)</p>
            </div>
        </div>
    </div>
</header>
{% endblock header %}